.popup__input {
  margin: 0;
  width: 358px;
  position: relative;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
}

@media (max-width: 660px) {
  .popup__input {
    max-width: 238px;
  }
}