.profile__avatar {
  align-self: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__avatar:hover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  opacity: 0.5;
  transition: 1s;
  flex-shrink: 0;
  display: block;
  cursor: pointer;
}